.header-banner {
  position: relative;
  width: 100%;
}

.header-banner-bg {
  width: 60%;
  height: auto;
  /*visibility: hidden;*/
  border-style: solid;
  border-color: white;
  border-width: 10px;
  border-radius: 30px;
  position: relative;
}

.header-banner-msg {
  position: absolute;
  bottom: 1%;
  left: 25%;
  color: white;
  font-size: 3.5vw;
  text-shadow: 3px 3px black;
  font-weight: 500;
}

.banner-fade-enter {
  opacity: 0.01;
}

.banner-fade-enter.banner-fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.banner-fade-leave {
  opacity: 1;
}

.banner-fade-leave.banner-fade-leave-active {
  opacity: 0.01;
  transition: opacity 600ms ease-in;
}

@media (max-width: 750px) {
  .header-banner-bg {
    width: 90%;
  }
  .header-banner-msg {
    left: 11%;
    font-size: 6vw;
  }
}